.about-us {
  margin: 0;
  padding: 0;

  font-size: 0;
}

.about-us__info {
  display: flex;
  padding-top: 32px;
  padding-bottom: 24px;
}

.about-us__slogan {
  width: 50%;
  margin: 0;
  padding: 0 0 0 20px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Verdana", sans-serif;
  text-transform: uppercase;
  color: #000000;
}

.about-us__adress {
  width: 50%;
  margin: 0;
  padding: 0 20px 0 0;

  font-size: 14px;
  line-height: 20px;
}

.about-us__link-map {
  display: block;

  text-decoration: none;

  background-color: #f8f5f1;
}

.about-us__map {
  display: block;
  margin: 0 auto;
}

@media (min-width: @desktop-width) {
  .about-us {
    position: relative;
  }

  .about-us__info {
    position: absolute;
    top: 50px;
    left: 50px;

    display: flex;
    width: 500px;
    min-height: 100px;

    background-color: #ffffff;
  }
}
