.example {
  margin-top: 21px;
  padding: 0;

  background-color: #f2f2f2;
}

.example__title {
  margin: 0;
  padding: 42px 20px 40px 20px;

  font-weight: 400;
  font-size: 36px;
  font-family: "Oswald", "Verdana", sans-serif;
  color: #111111;
  text-decoration: none;
}

.example__description {
  margin: 0;
  padding: 0 21px 0 20px;
}

.example__list {
  width: 100%;
  margin: 0;
  padding: 22px 19px 0 19px;
}

.example__list-row {
  display: flex;
  justify-content: space-between;
}

.example__list-row--title {
  margin-top: -26px;
}

.example__data {
  width: 122px;
  padding: 17px 10px 13px 10px;

  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Verdana", sans-serif;
  text-align: center;
  color: #111111;
  text-transform: uppercase;

  border: 1px solid black;
}

.example__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  padding: 0 17px;
  background-color: #f2f2f2;
  margin: 17px 15px;
}

.example__expense {
  display: block;
  margin: 0;
  margin-top: 2px;
  padding: 0 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Verdana", sans-serif;
  text-align: center;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: transparent;
  }
}

@media (min-width: @desktop-width) {
  .example {
    display: flex;
  }

  .example__info {
    width: 50%;
  }
}
