.slogan {
  width: 100%;
  height: 305px;
  margin: 0 auto;
  padding: 0;

  background-color: #64a83b;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top;
  border-top: 1px solid #e6e6e6;
}

.slogan__title {
  display: block;
  max-width: 260px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 29px;

  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  font-family: "Oswald", "Verdana", sans-serif;
  text-align: center;
  color: #ffffff;
}

.slogan__intro {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 18px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  font-family: "Oswald", "Verdana", sans-serif;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.slogan__image {
  display: block;
  margin: 0 auto;
  padding: 0;
  padding-top: 26px;
}
